.footer {
  align-items: center;
  background-color: var(--black);
  display: flex;
  height: 6rem;
  justify-content: center;
}

.footer__text {
  color: var(--white);
  font-size: var(--text-desktop);
  font-weight: var(--regular);
}
